{{ define "page-event" }} {{ template "header" }}
<h1 class="text-3xl text-center m-10">{{ .Event.Name }}</h1>
<div class="flex">
  {{ range .Categories}}
  <div class="badge badge-primary m-2">
    <div class="flex breadcrumbs">
      <ul>
        {{ range . }}
        <li><a href="#" class="hover:underline">{{ .Name }}</a></li>
        {{ end}}
      </ul>
    </div>
  </div>
  {{ end}}
</div>

<p>{{ .Event.Description }}</p>
{{ .Event.Start.Format "2. 1. 15:04" }} - {{ .Event.End.Format "15:04" }} {{
.Event.Location.Name }} {{ range .Event.Comments }}
<p>{{ .Text }}, {{ .User.Name }}</p>
{{ end }} {{ template "footer" }} {{ end }}
