{{ define "page-events" }} {{ template "header" }}
<h1 class="text-3xl text-center m-10">Události</h1>
<div class="grid grid-cols-4 gap-10">
  {{ range . }}
  <a
    href="/events/{{ .ID }}"
    class="card bg-base-200 hover:opacity-80 hover:cursor-pointer"
  >
    <figure>
      <img src="https://picsum.photos/seed/{{ .ID }}/500/200" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{ .Name }}</h2>
      <p>{{ .Description }}</p>
      {{ .Start.Format "2. 1. 15:04" }} - {{ .End.Format "15:04" }} {{
      .Location.Name }}
    </div>
    <div class="flex">
      {{ range .Categories }}
      <div class="badge badge-primary m-2">{{ .Name }}</div>
      {{ end }}
    </div>
  </a>
  {{ end}}
</div>
{{ template "footer" }} {{ end }}
