{{ define "page-register" }} {{ template "header" }}
<form>{{ template "page-register-form" }}</form>
{{ template "footer"}} {{ end}} {{ define "page-register-form" }}
<div
  class="grid grid-cols-1 m-5"
  hx-post="/register/validate"
  hx-trigger="keyup change delay:300ms"
  hx-swap="morph"
  id="register-div"
>
  <div class="form-control my-2">
    <label class="label">
      <span class="label-text">Email</span>
    </label>
    <input
      type="text"
      name="email"
      id="email"
      class="input input-bordered"
      value="{{ .Email }}"
    />
    <label class="label">
      <div class="text-red-600">{{ .EmailError }}</div>
    </label>
  </div>

  <div class="form-control my-2">
    <label class="label">
      <span class="label-text">Password</span>
    </label>
    <input
      type="password"
      name="password"
      id="password"
      class="input input-bordered"
      value="{{ .Password }}"
    />
    <label class="label">
      <div class="text-red-600">{{ .PasswordError }}</div>
    </label>
  </div>

  <div class="form-control my-2">
    <label class="label">
      <span class="label-text">Repeat password</span>
    </label>
    <input
      type="password"
      name="repeated_password"
      id="repeated_password"
      class="input input-bordered"
      value="{{ .RepeatedPassword }}"
    />
    <label class="label">
      <div class="text-red-600">{{ .RepeatedPasswordError }}</div>
    </label>
  </div>

  <button
    class="btn-primary btn"
    hx-post="/register"
    id="register-button"
    {{
    if
    not
    .Valid
    }}
    disabled="true"
    {{
    end
    }}
  >
    Register
  </button>
</div>
{{ end }}
