{{ define "page-register" }} {{ template "header" }}
<form>{{ template "page-register-form" }}</form>
{{ template "footer"}} {{ end}} {{ define "page-register-form" }}
<div
  class="grid grid-cols-1 m-5"
  hx-post="/register/validate"
  hx-trigger="keyup change delay:300ms"
  hx-swap="outerHTML"
  id="register-div"
>
  <label>Email</label>
  <input
    type="text"
    name="email"
    class="input"
    id="email"
    value="{{ .Email }}"
  />
  <div class="text-red-600">{{ .EmailError }}</div>

  <label>Password</label>
  <input
    type="password"
    name="password"
    class="input"
    id="password"
    value="{{ .Password }}"
  />
  <div class="text-red-600">{{ .PasswordError }}</div>

  <label>Repeat Password</label>
  <input
    type="password"
    name="repeated_password"
    id="repeated_password"
    class="input"
    value="{{ .RepeatedPassword }}"
  />
  <div class="text-red-600">{{ .RepeatedPasswordError }}</div>

  <button
    class="btn-primary btn"
    hx-post="/register"
    id="register-button"
    {{
    if
    not
    .Valid
    }}
    disabled="true"
    {{
    end
    }}
  >
    Register
  </button>
</div>
{{ end }}
