{{ define "page-admin-user-detail" }} {{ template "header" }} {{ template
"page-admin-user-detail-form" . }} {{ template "footer" }} {{ end }} {{ define
"page-admin-user-detail-form" }}
<form
  hx-trigger="keyup delay:300ms, change from:#role_id"
  hx-swap="morph"
  hx-post="/admin/users/{{ .Data.ID }}/form"
  id="user-detail-form"
>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Jméno *</span>
    </label>
    <input
      type="text"
      class="input input-bordered {{ if .Errors.Name }} input-error {{ end }}"
      name="name"
      id="name"
      value="{{ .Data.Name }}"
    />
    <label class="label">
      <div class="text-error">{{ .Errors.Name }}&nbsp;</div>
    </label>
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Email *</span>
    </label>
    <input
      type="text"
      class="input input-bordered {{ if .Errors.Email }} input-error {{ end }}"
      name="email"
      value="{{ .Data.Email }}"
    />
    <label class="label">
      <div class="text-error">{{ .Errors.Email }}&nbsp;</div>
    </label>
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Role *</span>
    </label>
    <select
      class="input input-bordered {{ if .Errors.Role }} input-error {{ end }}"
      name="role_id"
      id="role_id"
    >
      {{ range .Roles }}
      <option
        value="{{ .ID }}"
        {{
        if
        eq
        .ID
        $.Data.RoleID
        }}
        selected
        {{
        end
        }}
      >
        {{ .Name }}
      </option>
      {{ end }}
    </select>
    <label class="label">
      <div class="text-error">{{ .Errors.Role }}&nbsp;</div>
    </label>
  </div>
</form>
{{ end }}
